/* enlarge the size of the logo icon
 * to match the height of the header */
.md-header__button.md-logo {
  margin: 0;
  padding: 0;
}
.md-header__button.md-logo img {
  height: 4em;
}

/* Remove unnecessary space at the top */
.md-main__inner {
  margin-top: 0;
}

/* Fix the first column (PID) and change the overflow section */
div.md-typeset__scrollwrap {
  overflow-x: unset;
}

div.md-typeset__table {
  display: unset;
  overflow-x: auto;
}

.md-typeset__table table:not([class]) th,
.md-typeset__table table:not([class]) td {
  padding: 0.3em;
  min-width: unset;
  white-space:nowrap;
}

.md-typeset__table table:not([class]) th:first-child,
.md-typeset__table table:not([class]) td:first-child {
  position: sticky;
  left: 0em;
  background: white;
}
